<div class="container d-flex flex-column mt-3 h-100">
  <div class="bookings-container mt-2 mb-2">
    <h5>Tutte le prenotazioni</h5>
    @if (bookings.length > 0) {
      <app-booking-table [bookings]="bookings" [users]="users"></app-booking-table>
    } @else {
      <h6 class="mt-4">Nessuna prenotazione trovata</h6>
    }
  </div>

  <div class="users-container mt-2 mb-2">
    <h5>Tutti gli utenti</h5>
    <p>Puoi cambiare il ruolo dell'utente</p>
    @if (users.length > 0 && currentUser) {
      <app-user-table [currentUser]="currentUser" [users]="users"></app-user-table>
    } @else {
      <h6 class="mt-4">Nessuna prenotazione trovata</h6>
    }
  </div>

</div>
