<table class="table">
  <thead>
  <tr>
    <th scope="col">ID prenotazione</th>
    <th scope="col">Check In</th>
    <th scope="col">Check Out</th>
    <th scope="col">Stanza prenotata</th>
    <th scope="col">Prenotante</th>
    <th scope="col">Azione</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let booking of bookings">
    <th>{{ booking.id }}</th>
    <td>{{ booking.check_in | date: 'dd/MM/yyyy' }}</td>
    <td>{{ booking.check_out  | date: 'dd/MM/yyyy' }}</td>
    <td>{{ booking.room?.room_number }}</td>
    <td>{{ getPersonNameFromBooking(booking) }}</td>
    <td>
      <button type="button" class="btn btn-danger w-100"
              (click)="deleteBooking(booking)">
        Rimuovi Prenotazione
      </button>
    </td>
  </tr>
  </tbody>
</table>
